In [7]:
import os
import json
import pandas as pd

# Directory path containing JSON files
directory_path = "/Users/kms/Documents/GitHub/GeoJson/DataJSON/Mauzas/"

# List to store data from all JSON files
all_rows = []

# Iterate through each file in the directory
for filename in os.listdir(directory_path):
    if filename.endswith(".json"):  # Only process JSON files
        file_path = os.path.join(directory_path, filename)
        
        # Read the JSON file
        with open(file_path, 'r') as file:
            data = json.load(file)

        # Extract the 'features' list
        features = data.get('features', [])

        # Extract 'attributes' and 'geometry' from each feature
        for feature in features:
            attributes = feature.get('attributes', {})
            geometry = feature.get('geometry', {})
            all_rows.append({
                **attributes,
                'geometry': geometry  # Add geometry data as a single column
            })

# Create a DataFrame from all JSON files
df = pd.DataFrame(all_rows)

# Display the DataFrame
print(df.head())  # For console display

   FID   Id District   Tehsil            Mauza        Acres  \
0    0  0.0  Chiniot  Bhawana   Chak No 237-Jb  1850.088568
1    1  0.0  Chiniot  Bhawana   Chak No 239-Jb  2460.491968
2    2  0.0  Chiniot  Bhawana  Chak No 466- Jb  3544.616316
3    3  0.0  Chiniot  Bhawana   Chak No 200-Jb  1082.464304
4    4  0.0  Chiniot  Bhawana   Chak No 205-Jb  1107.251962

                                            geometry mauza_na_1 Mauza_Name
0  {'rings': [[[72.79757026000004, 31.51864605100...        NaN        NaN
1  {'rings': [[[72.76745780600004, 31.50445594200...        NaN        NaN
2  {'rings': [[[72.70388759000008, 31.56763318700...        NaN        NaN
3  {'rings': [[[72.79345332300005, 31.42378139100...        NaN        NaN
4  {'rings': [[[72.81225922900006, 31.45223485400...        NaN        NaN

In [8]:
df

,FID,Id,District,Tehsil,Mauza,Acres,geometry,mauza_na_1,Mauza_Name
0,0,0.0,Chiniot,Bhawana,Chak No 237-Jb,1850.088568,"{'rings': [[[72.79757026000004, 31.51864605100...",NaN,NaN
1,1,0.0,Chiniot,Bhawana,Chak No 239-Jb,2460.491968,"{'rings': [[[72.76745780600004, 31.50445594200...",NaN,NaN
2,2,0.0,Chiniot,Bhawana,Chak No 466- Jb,3544.616316,"{'rings': [[[72.70388759000008, 31.56763318700...",NaN,NaN
3,3,0.0,Chiniot,Bhawana,Chak No 200-Jb,1082.464304,"{'rings': [[[72.79345332300005, 31.42378139100...",NaN,NaN
4,4,0.0,Chiniot,Bhawana,Chak No 205-Jb,1107.251962,"{'rings': [[[72.81225922900006, 31.45223485400...",NaN,NaN
...,...,...,...,...,...,...,...,...,...
2049,539,0.0,TT Singh,NaN,NaN,472.031448,"{'rings': [[[258888.93549999967, 3391343.23680...",NaN,Chak 744+Gb
2050,540,0.0,TT Singh,NaN,NaN,324.575275,"{'rings': [[[252145.97996176407, 3394600.03516...",NaN,746 Gb
2051,541,0.0,TT Singh,NaN,NaN,201.785852,"{'rings': [[[252145.97996176407, 3394600.03516...",NaN,Waghi
2052,542,0.0,TT Singh,NaN,NaN,846.413695,"{'rings': [[[266507.1095000012, 3402585.236800...",NaN,Chak 707+Gb
2053,543,0.0,TT Singh,NaN,NaN,124.186478,"{'rings': [[[277643.72209536564, 3394749.48426...",NaN,Mandana Khurd